*{
	text-align:center;
	font-size:30px;
}

header{
	background-color:hsl(0,100%,50%);
	color:hsl(0,50%,100%);
	font-family:monospace;
}

h1{
	font-size:80px;
}

h2{
	font-size:50px;
	font-family:cursive;
}

ul{
	list-style-type:none;
}

li{
	display:inline;
	padding:10px;
}

a{
	text-decoration:none;
	color:purple;
}

a:hover{
	color:red;
}

table{
	width:100%;
}

table, tr, th, td{
	border:3px solid black;
	border-collapse: collapse;
}

th{
	height:80px;
}

td{
	padding:20px;
}

tr:hover{
	background-color:black;
	color:white;
}

.champions{
	background-color:rgba(0,0,255,0.5);
}

.europa{
	background-color:rgba(255,0,0,0.3);
}